:root {
	--main-bg-color: #639CFF;
	--dark-bg-color: #7E7999;
	--darker-bg-color: #533BCC;
	--main-txt-color: #CC793B;
	--light-txt-color: #FFD8A3;
}

body {
	text-align: center;
   background: var(--main-bg-color);
   color: var(--main-txt-color);
}

header{
	background-color: var(--dark-bg-color);
   color: var(--light-txt-color);
   width: 80%;
   margin: auto;
   border-radius: 20px;
   border-style: solid;
   border-color: var(--main-txt-color);
}

header h1 {
	padding: 0 5% 0 5%;
	font-size: 7vw;
	text-shadow: 0 5px var(--darker-bg-color);
}

#cloud {
	margin: auto;
	padding: 5%;
	width: 80%;
	height: 20%;
	background-image: url("cloud.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
