<!-- templates/display_image.html -->
<html>
    <head>
        <title>Twitter Wordcloud: Wordcloud</title>
		<link rel="stylesheet" type="text/css" href="static/style.css">
    </head>
    <body>
		<h1>Right Click and Choose "Save image as" to save the picture</h1> 
		<!--<img src='data:image/png;base64," + base64.b64encode({{img}}.getvalue()) alt="Crap! didn't load image" width="90%"> -->
		<img src="data:image/gif;base64,{{img}}" width="70%"/>
	</body>
</html>
